/*ffonctions proprietaire SASS: */
/* du gris au noir*/
/* du gris au blanc*/
.ombre {
  box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.7);
}

/* class silencieuse (non utilisee dans le html) */
.button-send {
  box-shadow: 5px 5px 10px 1px rgb(0, 0, 0);
}

.align-horiz, #primary-nav ul {
  display: flex;
  justify-content: center;
}

.icon::before {
  display: block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

#primary-nav {
  background: #305e92;
}
#primary-nav ul a {
  display: block;
  padding: 20px;
  color: #fff;
}
#primary-nav ul a:hover {
  background: red;
}

/* mixin avec @content: possibilite de rajouter des proprietes dans son utulisation (@include) */
.icon-cart::before {
  content: "\f07a";
  font: var(--fa-font-solid);
}

@keyframes frade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background: grey;
}

section {
  min-height: 20vh;
}

#container {
  max-width: 1440px;
}

.button-send {
  /* mixin */
  font-family: "Trebuchet MS", sans-serif;
  font-size: 1.25rem;
  text-decoration: none;
  text-align: center;
  padding: 0.5rem;
  border: none;
  display: block;
  margin: 0.5rem auto 0;
  width: 150px;
  color: #fff;
  background-color: grey;
  color: #fff;
  /* class silencieuse (non utilisee dans le html) */
}
.button-send:hover {
  cursor: pointer;
  background-color: white;
  color: grey;
}

#mixin-content {
  width: 50%;
}
#mixin-content h2 {
  background: red;
  color: #fff;
}

.icon-cart::before {
  content: "\f07a";
  font: var(--fa-font-solid);
}

.position-fixed-icon-bar {
  position: fixed;
  top: 60px;
  right: 50px;
}

.font-small {
  font-size: 0.8rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

main section:nth-child(1) {
  background: #3d77b8;
  opacity: 0;
}

main section:nth-child(2) {
  background: #5e91ca;
  opacity: 0;
}

main section:nth-child(3) {
  background: #84abd7;
  opacity: 0;
}

main section:nth-child(4) {
  background: #abc5e3;
  opacity: 0;
}

main section:nth-child(1) {
  animation: fade-in 0.7s ease-in-out 500ms forwards;
}

main section:nth-child(2) {
  animation: fade-in 0.7s ease-in-out 1000ms forwards;
}

main section:nth-child(3) {
  animation: fade-in 0.7s ease-in-out 1500ms forwards;
}

main section:nth-child(4) {
  animation: fade-in 0.7s ease-in-out 2000ms forwards;
}