@use '_var' as v;
@use 'parts/primary-nav';
@use '_mixins' as m;
@use '_class' as c;
@use '_maps' as maps;
@use '_anims' as a;

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: v.$main-color;
}

section {
    min-height: 20vh;
}

#container {
    max-width: v.$width-container;
}

.button-send {
    /* mixin */
    @include m.button;
    background-color: v.$main-color;
    color: v.$link-color;
    /* class silencieuse (non utilisee dans le html) */
    @extend %ombre;
}

@include m.inserer-bloc {
    width: 50%;
    ;

    h2 {
        background: v.$link-background;
        color: #fff
    }
}

@include m.icon-fontawesome("cart", "\f07a", "--fa-font-solid");

@include m.position-fixed("icon-bar", "top", 60px, "right", 50px);

.font-small {
    @if map-has-key(maps.$fonts, small){
        font-size: map-get(maps.$fonts, small);
    } @else {
        font-size: 12px;
    }
}

h1 {
    font-size: map-get(maps.$fonts, h1);
}

h2 {
    font-size: map-get(maps.$fonts, h2);
}

// Boucle @For
@for $i from 1 through 4 {
    main section:nth-child(#{$i}){
        background: lighten(v.$title-color, $i * 10%);
        opacity: 0;
    }
}

@for $i from 1 through 4 {
    main section:nth-child(#{$i}){
        //variable local
        $delay: $i * 500ms;
        animation: fade-in .7s ease-in-out $delay forwards;
    }
}